@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6f8fa;
  --foreground: #171717;
  --font-roboto: 'Roboto', sans-serif;
  --font-lato: 'Lato', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f6f8fa;
    --foreground: #171717;
  }
}

.roboto {
  font-family: var(--font-roboto);
}

.lato {
  font-family: var(--font-lato);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', sans-serif;
}
